@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: 'SofiaRegular';
  src: url('/fonts/SofiaRegular.woff') format('woff');
  font-weight: 400; /* Font weight */
  font-style: normal; /* Can be 'normal' or 'italic' */
}

/* Poppins Font Definitions */
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

/* Rubik Font Definitions */
.rubik-light {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.rubik-regular {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.rubik-medium {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.rubik-semibold {
  font-family: "Rubik", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.rubik-bold {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.rubik-extrabold {
  font-family: "Rubik", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.rubik-black {
  font-family: "Rubik", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.rubik-light-italic {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  font-style: italic;
}